model_config_list {
  config {
    name: 'alexnet'
    base_path: '/home/models/alexnet/'
    model_platform: "tensorflow"
  }
  config {
    name: 'googlenet'
    base_path: '/home/models/googlenet/'
    model_platform: "tensorflow"
  }
  config {
    name: 'vgg16'
    base_path: '/home/models/vgg16/'
    model_platform: "tensorflow"
  }
  config {
    name: 'resnet_NHWC'
    base_path: '/home/models/resnet_v2_fp32_savedmodel_NHWC_jpg/'
    model_platform: "tensorflow"
  }
  config {
    name: 'skyline_extraction'
    base_path: '/home/models/skyline_extraction/'
    model_platform: "tensorflow"
  }
  config {
    name: 'half_plus_two'
    base_path: '/home/models/half_plus_two/'
    model_platform: "tensorflow"
  }
}